@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap");
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

h4 {
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@font-face {
  font-family: "Roboto";
  src: url("/Roboto-Regular-webfont.58cb7732.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box; }

html, body {
  color: white;
  background-color: black;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 140%;
  scroll-behavior: smooth;
  box-sizing: border-box; }

@media (max-width: 768px) {
  .body.lock {
    overflow: hidden; } }

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.hidden {
    display: none !important;
  }

.header {
  position: sticky;
  width: 100%;
  height: auto;
  padding: 0px 20px;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center; }
  .header .content__header {
    display: flex;
    align-items: center; }
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2; }
  .header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center; }
  .header__logo {
    flex: 0 0 150px;
    overflow: hidden;
    z-index: 3; }
    @media (max-width: 768px) {
      .header__logo {
        flex: 0 0 120px;
        z-index: 0; } }
    @media (max-width: 540px) {
      .header__logo {
        flex: 0 0 90px;
        z-index: 0; } }
  .header__logo:hover {
    transform: scale(1.12);
    transition: 0.3s ease; }
  .header__logo img {
    max-width: 100%;
    display: block; }
  .header__burger {
    display: none; }
    .header__burger.active::before {
      transform: rotate(45deg);
      top: 9px; }
    .header__burger.active::after {
      transform: rotate(-45deg);
      bottom: 9px; }
    .header__burger.active span {
      transform: scale(0); }
    @media (max-width: 768px) {
      .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3; } }
  .header__burger span {
    position: absolute;
    background-color: white;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s; }
  .header__burger::after, .header__burger::before {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s; }
  .header__burger::after {
    bottom: 0; }
  .header__burger::before {
    top: 0; }
  
  .header__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }


  
    @media (max-width: 768px) {
    .header__menu {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      padding: 100px 10px 20px 10px;
      line-height: 40px;
      transition: all 0.4s ease 0s;
      overflow: auto; } }
  .header__menu.active {
    top: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header__list {
    display: flex;
    position: relative;
    z-index: 2; }
    @media (max-width: 768px) {
      .header__list {
        display: block; } }
    .header__list-item {
      text-align: center; }
    .header__list-item:hover {
      border-radius: 5px;
      color: orange;
      transition: 0.3s ease-in-out; }
  .header__list li {
    list-style: none;
    margin: 0px 0px 0px 20px; }



    @media (max-width: 768px) {
      .header__list li {
        margin-bottom: 20px;
        text-align: center; } }
  .header__link {
    text-decoration: none;
    color: white;
    position: relative;
    font-size: 20px;
    padding: 5px; }
    @media (max-width: 768px) {
      .header__link {
        font-size: 32px; } }
  .header__link:hover {
    padding: 5px;
    color: black;
    transition: 0.3s ease;
    border: orange 2px solid;
    background: orange;
    border-radius: 15px; }
    @media (max-width: 768px) {
      .header__link:hover {
        padding: 5px;
        color: white;
        transition: 0.3s ease;
        border: orange 2px solid;
        border-radius: 15px;
        background: orange;
        color: black; } }


.container {
  z-index: 10;
  box-sizing: border-box;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 20px;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center; }
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center; } }

container__header {
  display: flex;
  justify-content: center;
}

.container__discount {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.study >img {
  width: 100%;
  height: auto;
  align-self: center;
  justify-self: center;
}

.family >img {
  width: 100%;
  height: auto;
    align-self: center;
  justify-self: center;
}

.content {
  flex: 1;
  box-sizing: border-box; }

.content__front {
  width: 100%;
  height: auto;
  opacity: 90%;
  z-index: 1;
  animation: theme 12s linear infinite; }
.content__front:after, .content__front:before {
  content: "";
  display: block;
  position: fixed;
  z-index: -1;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #000000, #ffd00038);
  animation: background 90s linear infinite; }
.content__front:after {
  left: 15vw; }
.content__front:before {
  right: 15vw;
  animation-delay: -30s;
  animation-direction: reverse; }

.content-img {
  width: 100%;
  height: auto; }

.content__background--img {
  width: 100%;
  height: auto;
  z-index: 10;
  opacity: 100%; }

@keyframes theme {
  0% {
    background: #000000; }
  10% {
    background: #2e2e2e; }
  20% {
    background: #545454; }
  30% {
    background: #7a7a7a; }
  40% {
    background: #a0a0a0; }
  50% {
    background: #c6c6c6; }
  60% {
    background: #a0a0a0; }
  70% {
    background: #7a7a7a; }
  80% {
    background: #545454; }
  90% {
    background: #2e2e2e; }
  100% {
    background: #000000; } }

@keyframes background {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.footer {
  height: 100px;
  padding: 20px;
  background-color: black;
  color: #fff;
  text-align: center; }

.swiper {
  display: flex;
  max-width: 100%;
  height: auto; }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; }
    .swiper-slide img {
      display: block;
      max-width: 100%;
      height: auto; }

.container__price{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {
    .container__price {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 540px) {
    .container__price {
      grid-template-columns: repeat(1, 1fr); } }

.card {
  min-width: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #141414;}

  .card__services>h2 {
    font-size: 20px;
    color: white;
    text-align: center;
  }

  .card__services{
    font-size: 16px;
    height: 200px;
    color: orange;
    display: grid;
    grid-template-rows: repeat(3, 1fr); 
    text-align: center;
    padding: 10px;
    justify-content: center;
    align-items: center;
    list-style: none;
    line-height: 32px; }
    
  .card__price {
    font-size: 28px;
    font-weight: bold; 
    color: white;
  }
  .card__btn {
    display: inline-block;
    text-decoration: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    background: #ffcc00;
    cursor: pointer;
    transition: background 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease, color 1s ease;
    position: relative;
    outline: none;
    text-align: center;
    overflow: hidden;
    box-shadow: 2px 2px 10px orange; }
  .card__btn:hover {
    color: white;
    background: red;
    font-size: 14px;
    transform: scale(1.2);
    box-shadow: inset 2px 2px 20px 0px #f8b200, 2px 2px 10px 0px #f1a501, 4px 4px 5px 0px rgba(0, 0, 0, 0.1); }

.card__btn::before,
.card__btn::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 100%;
  background: black;
  transition: width 0.5s ease; }

.card__btn::after {
  right: initial;
  left: 0;
  bottom: 0; }

.card__btn:hover::before,
.card__btn:hover::after {
  width: 0; }

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false; }

.card {
  width: auto;
  height: 450px;
  padding: 3px;
  position: relative;
  border-radius: 6px;
  align-items: center;
  color: rgba(38, 164, 223, 0); }
  @media (max-width: 768px) {
    .card {
      height: 350px; } }
  .card::before {
    content: "";
    width: 102%;
    height: 101%;
    border-radius: 10px;
    background-image: linear-gradient(var(--rotate), #ff8400 43%, black 73%, red);
    position: absolute;
    z-index: -1;
    animation: spin 10s linear infinite; }
  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.6);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(var(--rotate), #df7c03 43%, black, red);
    opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite; }

@keyframes spin {
  0% {
    --rotate: 0deg; }
  100% {
    --rotate: 360deg; } }

#testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%; }

.testimonial-box-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%; }

.testimonial-box {
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: #0000004e;
  padding: 20px;
  margin: 15px;
  cursor: pointer; }

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px; }

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; }

.profile {
  display: flex;
  align-items: center; }

.name-user {
  display: flex;
  flex-direction: column; }

.name-user strong {
  color: #ffffff;
  font-size: 1.1rem;
  letter-spacing: 0.5px; }

.name-user span {
  color: #ffffff;
  font-size: 0.8rem; }

.star {
  width: 20px;
  height: auto;
  background-size: cover; }
  @media (max-width: 540px) {
    .star {
      width: 15px;
      height: auto; } }

.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; }

.client-comment p {
  font-size: 0.9rem;
  color: #ffffff; }

.testimonial-box:hover {
  transform: translateY(-10px);
  transition: all ease 0.3s; }

@media (max-width: 1060px) {
  .testimonial-box {
    width: 45%;
    padding: 10px; } }

@media (max-width: 790px) {
  .testimonial-box {
    width: 100%;
    padding: 10px; }
  .testimonial-heading h1 {
    font-size: 1.4rem; } }

@media (max-width: 340px) {
  .box-top {
    flex-wrap: wrap;
    margin-bottom: 10px; }
  .reviews {
    margin-top: 10px; } }

::selection {
  color: #ffffff;
  background-color: #252525; }

.container-contact {
  justify-content: space-around;
  padding: 20px 40px; }

.container-form {
  max-width: 100%;
  width: auto;
  height: auto;
  margin: 20px auto;
  padding: 20px;
  justify-content: left;
  display: flex;
  flex-direction: column;
  border: gray 1px solid;
  border-radius: 20px; }
  @media (max-width: 768px) {
    .container-form {
      width: 80vw;
      height: auto;
      margin: 20px auto;
      padding: 20px; } }

.container-form h2 {
  display: flex;
  justify-content: center;
  align-items: center; }

.contact-form {
  width: 100%;
  padding: 10px; }

.form-group {
  margin-bottom: 20px; }
  .form-group label {
    margin-bottom: 5px;
    font-weight: 200px;
    color: #ffffff; }
  .form-group input[type="text"],
  .form-group input[type="tel"],
  .form-group input[type="email"],
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff;
    background: transparent;
    color: white; }

.fancybox-container {
  color: black;
}

.fancybox-close-small svg {
  color: black;
}

.form > h2 {
  margin-bottom: 20px;
}

input, textarea{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.left.section input[type="text"],
.left.section input[type="email"],
.left.section input[type="tel"],
.right.section textarea {
  font-family: "Montserrat";
  font-size: 16px;
}

.btn {
  width: 100%; }

.btn:hover {
  transform: scale(1.05); }

.social-media .social-link {
  display: flex;
  margin-bottom: 10px;
  text-decoration: none;
  color: #007bff; }
  .social-media .social-link:hover {
    text-decoration: underline; }

iframe {
  width: 50vw;
  height: auto;
  margin: 20px; }
  @media (max-width: 768px) {
    iframe {
      width: 80vw;
      height: 50vh; } }

.sdf {
  display: flex;
  position: relative; }

#str {
  position: absolute;
  width: 700px;
  height: auto;
  padding: 20px;
  font-family: sans-serif;
  font-size: 24px;
  top: 280px;
  color: #fff;
  font-weight: bold;
  line-height: 140%; }
  @media (max-width: 768px) {
    #str {
      width: 500px;
      font-size: 20px;
      top: 200px; } }
  @media (max-width: 540px) {
    #str {
      width: 350px;
      font-size: 16px;
      top: 100px; } }

.container__tittle {
  padding: 20px 5px;
  font-size: 24px;
  line-height: 35px; }
  @media (max-width: 540px) {
    .container__tittle {
      padding: 10px 5px;
      line-height: 15px;
      font-size: 14px; } }

.social {
  display: flex;
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 60px; }

.container__social {
  /* flex-direction: column; */
  display: flex;
  width: content;
  height: 100%; }
  @media (max-width: 768px) {
    .container__social {
      flex-direction: row;
      padding: 10px; } }

.social__contact {
  padding: 20px;
}

.container__social .link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px dashed white;
  padding: 8px;
  transition: .5s;
  color: #D7D0BE;
  margin: 10px; }
  @media (max-width: 1020px) {
    .container__social .link {
      width: 60px;
      height: 60px; } }

.container__social .link:hover {
  color: white;
  transform: rotate(360deg);
  transition: transform 0.5s ease, color 0.5s ease; }

.container__tittle-social {
  display: flex;
  flex-direction: row;
  line-height: 140%;
  justify-content: flex-start;
  justify-content: space-around;
  height: auto;
  padding-left: 50px; }
  @media (max-width: 768px) {
    .container__tittle-social {
      display: flex;
      height: 350px;
      font-size: 20px;
      flex-direction: column;
      padding: 0; }}

.container__tittle-social a, p {
  text-decoration: none;
  font-size: 20px;
  color: orange; }

.container__tittle-social a:hover {
  font-size: 22px;
  transition: 0.3s ease; }

.container__advantages {
  box-sizing: border-box;
  padding-top: 40px;
  width: 100%; }

.advantages {
  border: 5px white solid;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  font-size: 10px; }

.advantages__block {
  text-align: center;
  gap: 10px;
  line-height: 140%;

}
  @media (max-width: 768px) {
    .advantages {
      font-size: 14px; } }
  @media (max-width: 540px) {
    .advantages {
      display: grid;
      grid-template-columns: 1fr;
      font-size: 10px; } }

#scroll {
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #db8a34;
  opacity: 0;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center; }

.scroll-text {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: bold; }

.scroll-text:hover {
  color: black; }

.content__trener {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  height: 100vh;
  background: black; }

.block-card--list {
  padding: 20px; }

/* Стили для кнопки "Записаться" */
.signup-button {
  background-color: #ff9100;
  color: #fff;
  border: none;
  padding: 10px 50px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase; }
  .signup-button:hover {
    background-color: #ff6803;
    color: black; }

/* Стили для формы */
.signup-form {
  color: #a8a8a8;
  background: black;
  display: none;
  margin: 0 auto;
  width: 700px;
  padding: 50px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

  @media (max-width: 768px) {
  .signup-form {
    grid-template-columns: 1fr;
    width: 100%;
  }
}


.signup-form h3 {
  font-size: 18px;
  margin-bottom: 10px; }

/* Стили для полей ввода */
.signup-form label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  font-weight: bold; }

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="tel"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px; }

.signup-form .submit-button {
  background-color: #ff9100;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold; }
  .signup-form .submit-button:hover {
    background-color: #ff6803; }

.blog-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  background: #000000;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0; }

  @media (max-width: 768px) {
  .blog-card {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

.blog-card a {
  color: inherit; }
  .blog-card a:hover {
    color: #000000; }
.blog-card .meta {
  /* flex-basis: 50%; */
  width: 100%;
  position: relative;
  z-index: 0;
  background-size: cover;
  /* height: 200px; } */
  
.blog-card .photo {
  display: flex;
  height: auto;
  box-sizing: border-box;
  transition: transform .2s; }

.photo-1, .photo-2, .photo-3, .photo-4 {
  display: block;
  max-width: 100%;
  height: auto;

}

.blog-card .description {
  flex-basis: 50%;
  height: auto;
  padding: 1rem;
  margin: 10px;
  background: #000000;
  position: relative;
  z-index: 2; }
.blog-card p {
  position: relative;
  margin: 1rem 0 0; }
.blog-card p:first-of-type {
  margin-top: 1.25rem; }
.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #000000;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px; }

@media (min-width: 640px) {
  .blog-card {
    grid-template-columns: 1fr;
  }
}


.left {
  float: left; }

.right {
  float: right; }

@media (max-width: 35em) {
  .left,
  .right {
    float: left;
    clear: left; } }


/*# sourceMappingURL=/main.48b3db1d.css.map */